@import '../../common/constants/style';

.wrapper {
  display: flex;
  flex-direction: column;
}

.composer {
  display: flex;
  flex-direction: column;
  background-color: #ebecf0;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
}

.textArea {
  margin-bottom: 5px;
  resize: none;
  outline-color: $color-edit;
}

.hide {
  display: none;
}

.buttonActive {
  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    color: inherit;
  }
}

.buttonAdd {
  @extend %sendButton;
}

.buttonCancel {
  color: #6b778c;
  font-size: 14px;
  border: none;
  background: none;
  height: fit-content;
  transition: .3s;

  &:hover {
    color: #172b4d;
  }
}

.control {
  display: flex;
  align-items: center;
}
