@import "src/common/constants/style";

.board{
  background-color: #ebecf0;
  height: 100px;
  border-radius: 3px;
  padding: 10px;
  transition: 150ms;
  word-break: break-word;
  overflow: hidden;
  &:hover{
    background-color: rgba(#ebecf0, .9);
  }
}
