@import "./src/common/constants/style";

$bg-color: rgba(#fff, 0.3);
$bg-color-hover: rgba(#fff, 0.5);

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;

  & > * {
    @extend .primaryButton;
    height: 35px;
    margin-right: 5px;
  }
}

.header input {
  font-weight: bold;
  border: none;
  color: white;
  background-color: rgba($bg-color, 0);
  cursor: pointer;
  transition-property: padding-left, padding-right;
  transition-duration: .3s;

  &:focus {
    padding: 0 5px;
    border-radius: 0;
    cursor: text;
    color: black;
    background-color: white;
  }
}

.lists {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  column-gap: 15px;
  height: calc(100% - 106px - 8px);
  align-items: flex-start;
  padding-bottom: 10px;

  & > button {
    height: fit-content;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: (255, 255, 255, 0.3);
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.buttonAddList {
  @extend .primaryButton;
  font-size: 15px;
  width: 250px;
}

.loaderWrap{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(black, .8);
}
