@import "./src/common/constants/style";

.header {
  display: flex;
  align-items: center;
  padding: 20px 0;

  & > * {
    margin-right: 5px;
    font-size: 18px;
    border-radius: 3px;
    padding: 5px;
    background-color: $color-board-header-default;
    color: white;
    cursor: pointer;
    transition: 150ms ease-in-out;

    &:hover {
      background-color: $color-board-header-hover;
    }
  }

  & button {
    border: none;
    height: 100%;
  }
}

.header input {
  font-weight: bold;
  border: none;
  color: white;
  background-color: rgba($color-board-header-default, 0);
  cursor: pointer;
  transition-property: padding-left, padding-right;
  transition-duration: .3s;

  &:focus {
    padding: 0 5px;
    border-radius: 0;
    cursor: text;
    color: black;
    background-color: white;
  }
}

.boardCanvas{
  position: relative;
  flex-grow: 1;
}

.lists {
  //position: absolute;//
  //top: 0;  right: 0; bottom: 0; left: 0;
  //margin-bottom: 8px;//
  //padding-bottom: 8px;//

  display: grid;
  //grid-auto-flow: column;//
  grid-template-columns: repeat(4, 250px);
  grid-gap: 15px;
  //overflow-x: auto;//
  overflow-y: hidden;

  & > button {
    height: fit-content;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 12px;
    //background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
}

.buttonAddList {
  color: white;
  border: none;
  background-color: $color-board-header-default;
  padding: 5px;
  border-radius: 3px;
  transition: 150ms;
  font-size: 15px;

  &:hover {
    background-color: $color-board-header-hover;
  }
}
