@import "src/common/constants/style";

.title {
  color: white;
  text-align: center;
  margin: 25px 0;
}

.borders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, .2fr));
  grid-gap: 20px;
  justify-content: center;
  color: black;

  .button {
    @extend .primaryButton;
    height: 100px;
    font-size: 15px;
  }
}

.loaderWrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(black, .8);
}
