@import "src/common/constants/style";

.title {
  color: white;
  text-align: center;
  margin: 25px 0;
}

.borders {
  display: grid;
  grid-template-columns: repeat(4, .2fr);
  grid-gap: 20px;
  justify-content: center;
  color: black;

  .button {
    @extend .primaryButton;
    height: 100px;
    font-size: 15px;
  }
}
