//BOARDS
$color-boards-default: #ebecf0;
$color-boards-hover: rgba($color-boards-default,.9);
//BOARD
$color-board-header-default: rgba(#fff, 0.4);
$color-board-header-hover: rgba($color-board-header-default, 0.6);
//LIST
$color-list: #ebecf0;
