$list-color: #ebecf0;
.list {
  background-color: $list-color;
  border-radius: 3px;
  padding: 10px 10px;
  &-cards {
    list-style-type: none;
    padding: 0;
  }
  &-title {
    margin-bottom: 10px;
  }
  &-button-add {
    background: none;
    border: none;
    &:hover {
      background-color: rgba(9, 30, 66, 0.08);
    }
  }
}
